.connect-wallet-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22vw;
  height: 25vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @media screen and (max-width: 1489px) {
    width: 35vw;
  }

  @media screen and (max-width: 862px) {
    width: 60vw;
    height: 40vh;
  }

  @media screen and (max-width: 450px) {
    width: 80vw;
  }
  
  @media screen and (max-width: 450px) {
    width: initial;
  }

  background-color: black;
  border: 2px solid grey;
  border-radius: 4px;

  .cancel-button {
    position: fixed;
    color: white;
    top: 4px;
    right: 12px;
    font-size: 1.4rem;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }

  h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 32px;

    white-space: nowrap;
    @media screen and (max-width: 450px) {
      margin-left: 32px;
      margin-right: 32px;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 862px) {
      height: 90%;
      flex-direction: column;
    }

    > button {
      font-size: 3rem;
    }
  }
}

.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
